.notif-transition-enter {
    opacity    : 0.01;
    transition : opacity .2s ease-in;
  }
  
  .notif-transition-enter-active {
    opacity : 1;
  }
  
  .notif-transition-leave {
    opacity    : 1;
    transition : opacity .2s ease-in;
  }
  
  .notif-transition-leave-active {
    opacity : 0.01;
  }
  
  .notif__container {
    position  : fixed;
    top       : 10px;
    right     : 10px;
    /* left      : 0; */
    z-index   : 1000;
    width     : 30%;
    max-width : 400px;
    margin    : auto;
  }
  